// Colors !!
$primary-color: #e74c3c;
$primary-color-hover: #c0392b;
$color-blue: #4071b3;
$color-blue-hover: #31476e;
// Font colors !!
$font-light: #fff;
$font-dark: #000;
$font-grey: #676565;
$font-gray: #aaa;
$font-primary: #31476e;
$font-secondary: #4071b3;
$font-third: #28a8e1;
$font-four: #8fd1e0;
// Border colors
$border-primary: #282828;
$primary-border-color: #31476e;
$secondary-border-color: #4071b3;
$third-border-color: #28a8e1;
$four-border-color: #8fd1e0;
// Background colors !!
$background-primary: #31476e;
$background-secondary: #4071b3;
$background-third: #28a8e1;
$background-four: #8fd1e0;
$background-transparent: #00000000;
$background-transparent-secondary: #00000099;
$background-dark: #000;
$background-light: #fff;
// Another colors !!
$danger: #b69494;
